body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: lightblue;
    height: 100px;
    width: 100px;
    
}
.box:hover{
    transform: rotate(45deg) scale(2);
}